@{
    ViewData["Title"] = "Home Page";
}



<style>
    .box {
        width: 100%;
        height: 25vh;
        text-align: center;
        padding-top: 10%;
    }
    .arrow {
        font-size: 50pt;
    }
    

</style>

<h1>Hello My Robot 5</h1>


<div class="container">


    <div class="row">
        <div class="col-xs-12">
            <div id="boxForward" class="box" style="background-color:yellow">
                <span class="glyphicon glyphicon-arrow-up arrow "></span> 
            </div>
        </div>

        <div class="col-xs-6">
            <div id="boxLeft" class="box" style="background-color:red">
                <span class="glyphicon glyphicon-arrow-left arrow"></span>
            </div>
        </div>

        <div class="col-xs-6">
            <div id="boxRight" class="box" style="background-color:blue">
                <span class="glyphicon glyphicon-arrow-right arrow"></span>
            </div>
        </div>

        <div class="col-xs-12">
            <div id="boxReverse" class="box" style="background-color:green">
                <span class="glyphicon glyphicon-arrow-down arrow"></span>
            </div>
        </div>
    </div>

</div>


<script>
     // on page load
    window.addEventListener('load', function () {


        document.getElementById("boxLeft").addEventListener('touchstart', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostRed', true);
            xhttp.send();

            e.preventDefault()
        }, false);

        document.getElementById("boxLeft").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostRedRelease', true);
            xhttp.send();

            e.preventDefault()
        }, false);

        document.getElementById("boxForward").addEventListener('touchstart', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostYellow', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxForward").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostYellowRelease', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxReverse").addEventListener('touchstart', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostGreen', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxReverse").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostGreenRelease', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxRight").addEventListener('touchstart', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostBlue', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxRight").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/Home/PostBlueRelease', true);
            xhttp.send();
            e.preventDefault()
        }, false);

    }, false)
    
</script>



