@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello My Robot 5</h1>


<div class="container">

    <div class="row">
        <div class="col-xs-3">

            <div id="boxRed" style="width:100%; height:25vh; background-color:red"></div>
         
        </div>

        <div class="col-xs-3">

            <div id="boxYellow" style="width:100%; height:25vh; background-color:yellow"></div>

        </div>

        <div class="col-xs-3">

            <div id="boxGreen" style="width:100%; height:25vh; background-color:green"></div>

        </div>

        <div class="col-xs-3">

            <div id="boxBlue" style="width:100%; height:25vh; background-color:blue"></div>

        </div>
    </div>

</div>


<script>

    //window.addEventListener('load', function () { // on page load


    document.getElementById("boxRed").addEventListener('touchstart', function (e) {
        console.log("start");
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostRed', true);
        xhttp.send();

        e.preventDefault()
    }, false);

    document.getElementById("boxRed").addEventListener('touchend', function (e) {
        console.log("end");
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostRedRelease', true);
        xhttp.send();

        e.preventDefault()
    }, false);

    document.getElementById("boxYellow").addEventListener('touchstart', function (e) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostYellow', true);
        xhttp.send();
        e.preventDefault()
    }, false);

    document.getElementById("boxYellow").addEventListener('touchend', function (e) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostYellowRelease', true);
        xhttp.send();
        e.preventDefault()
    }, false);

    document.getElementById("boxGreen").addEventListener('touchstart', function (e) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostGreen', true);
        xhttp.send();
        e.preventDefault()
    }, false);

    document.getElementById("boxGreen").addEventListener('touchend', function (e) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostGreenRelease', true);
        xhttp.send();
        e.preventDefault()
    }, false);

    document.getElementById("boxBlue").addEventListener('touchstart', function (e) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostBlue', true);
        xhttp.send();
        e.preventDefault()
    }, false);

    document.getElementById("boxBlue").addEventListener('touchend', function (e) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Home/PostBlueRelease', true);
        xhttp.send();
        e.preventDefault()
    }, false);

    //}, false)

    //function onBoxClicked(color, isKeyDown) {
    //    switch (color) {
    //        case 'red':
    //            if (isKeyDown) {
    //                alert("down");
    //                //document.getElementById("btnRed").click();
    //            }
    //            else {
    //                alert("up");
    //                //document.getElementById("btnRedRelease").click();
    //            }
    //            break;
    //        case 'yellow':
    //            document.getElementById("btnYellow").click();
    //            break;
    //        case 'green':
    //            document.getElementById("btnGreen").click();
    //            break;
    //        case 'blue':
    //            document.getElementById("btnBlue").click();
    //            break;
    //        default:
    //            break;
    //    }
    //}


</script>



