@{
    ViewData["Title"] = "Home Page";
}


<style>

    .box {
        width: 100%;
        height: 25vh;
        text-align: center;
        padding-top: 10%;
    }

    .arrow {
        font-size: 50pt;
    }
</style>

<div class="container">


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img id="imgTest" src="images/cameraOutput.jpg" alt="No Camera Image" />
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div id="boxForward" class="box" style="background-color:yellow">
                <span class="glyphicon glyphicon-arrow-up arrow "></span>
            </div>
        </div>

        <div class="col-xs-6">
            <div id="boxLeft" class="box" style="background-color:red">
                <span class="glyphicon glyphicon-arrow-left arrow"></span>
            </div>
        </div>

        <div class="col-xs-6">
            <div id="boxRight" class="box" style="background-color:blue">
                <span class="glyphicon glyphicon-arrow-right arrow"></span>
            </div>
        </div>

        <div class="col-xs-12">
            <div id="boxReverse" class="box" style="background-color:green">
                <span class="glyphicon glyphicon-arrow-down arrow"></span>
            </div>
        </div>
    </div>

</div>




<script>


    //$(document).ready(function () {


    setInterval(function () {
        var myImageElement = document.getElementById('imgTest');
        myImageElement.src = 'images/cameraOutput.jpg?rand=' + Math.random();    //TODO: Must get url from app.settings
    }, 500);
       
    //});



    // on page load
    window.addEventListener('load', function () {


        document.getElementById("boxForward").addEventListener('touchstart', function (e) {

            console.log("I am pressed");

            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostForward', true);
            xhttp.send();

            e.preventDefault()
        }, false);

        document.getElementById("boxForward").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostStop', true);
            xhttp.send();

            e.preventDefault()
        }, false);

        document.getElementById("boxReverse").addEventListener('touchstart', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostReverse', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxReverse").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostStop', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxLeft").addEventListener('touchstart', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostLeft', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxLeft").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostStop', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxRight").addEventListener('touchstart', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostRight', true);
            xhttp.send();
            e.preventDefault()
        }, false);

        document.getElementById("boxRight").addEventListener('touchend', function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/RaspberryPiWebsite/Home/PostStop', true);
            xhttp.send();
            e.preventDefault()
        }, false);

    }, false)

</script>