@model WebCameraTest.Models.ImageModel

@{
    ViewData["Title"] = "Home Page";
}
<span>
    @Model.ImagePath
</span>

<h1>Hello Camera</h1>

<img id="imgTest" src="@Model.ImagePath" alt="test" />


<script>


    $(document).ready(function () {


        setInterval(function () {
            var myImageElement = document.getElementById('imgTest');
            myImageElement.src = 'images/test.png?rand=' + Math.random();    //TODO: Must get url from app.settings
        }, 500);

        //$("#imgTest").click(function () {

        //    console.log("Clicked");

        //    $.ajax({
        //        url: "/",
        //        type: "post",
        //        success: function (result) {
        //            $("#imgTest").attr("src", "/Images/test.png?r=" + Math.random());
        //        }
        //    });
        //});
    });

    //$(document).ready(function () {
    //    $("#imgTest").click(function () {
    //        $.ajax({
    //            url: "/Account/CaptchaImage",
    //            type: "post",
    //            success: function (result) {
    //                $("#imgTest").attr("src", "/Account/CaptchaImage/?r=" + Math.random());
    //            }
    //        });
    //    });
    //});

</script>